@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-black:#111;
    --primary-white:#fff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    font-family: 'Montserrat';
}
body{
    display: flex;
    flex-direction: column;
    clip-path: polygon(50% 0, 50% 0, 51% 100%, 50% 100%);
    filter: blur(10px);
    opacity: 0;
    animation:Appear 1750ms ease forwards;

}
@keyframes Appear{
    from{}
    to{
        filter: blur();
        opacity: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;

}
.Search{
    display: flex;
    align-items: center;
}
.Search input{
    border: solid 1px var(--primary-black);
    padding:.5rem;
    border-right:red;
}
.Search img{
    width:2rem;
    border: solid 1px var(--primary-black);
    border-left:none;
    padding:.5rem;
}

.Logo{
    width:10%;
}
.Links{
    display: flex;
    align-items: center;
    gap:2rem;
}
.Links a{
    color:#333;
}
.Upper_nav{
    background-color: var(--primary-black);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-around;
}
.Auth{
    color: var(--primary-white);
}
.Upper_links{
    display: flex;
    gap:1.5rem;
}
.Upper_links img{
    width:1rem;
}
.Cart{
    display: flex;
    align-items: center;
    gap:1rem;
}
.Cart img{
    width:1rem;
}
.Cart select{
    background-color: var(--primary-black);
    color:var(--primary-white);
    border:none;
    padding:.5rem;
}
.Cart_inner{
    display: flex;
    align-items: center;
    gap:.25rem;
    color:var(--primary-white)
}
.Hero{
    background-image: url(./assets/Hero.jpg);
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    gap:1rem;
    color:var(--primary-white);
    justify-content: center;
    align-items: center;
    height:85vh;
    background-attachment: fixed;
}
.Hero span:nth-child(2){
    font-size: 2.5em;
    font-weight: bolder;
}
.Hero button{
    width:fit-content;
    padding:.5rem 1rem;
    border:solid 1px #fff;
    background:none;
    color:#fff;
    transition: all 350ms;
    cursor:pointer;
}
.Hero button:hover{
    scale:1.25;
    background-color: #000;
}
.Model{
    width:15%;
    scale:1.25;
    transform: translateY(-3rem);
    filter: drop-shadow(-10px 3px 10px #333333);
    animation:Bounce 1500ms ease forwards infinite alternate-reverse;
}
@keyframes Bounce{
    from{}
    to{
        transform: translateY(-1rem);
    }
}
.Feat-container{
    padding:1.5rem;
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #33333350;
}
.Feat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding:3rem;
    width:20%;
    box-shadow: 0 0 2px #33333350;
    transition:all 1000ms;
    background-color: #ffc0cb50;
    cursor:pointer;
}
.Feat:hover{
    scale:1.05;
    box-shadow: 0 0 2px #333333;
}
.Feat:hover img{
    transform: rotate(360deg);
}
.Feat img{
    width:3.5rem;
    transition: all 1000ms;
}
.Feat span{
    text-align: center;
}
.Featured{
    background-image: url(./assets/white-bg.jpg);
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #00000050;
}

.Featured_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2rem;
    align-items: center;
    padding:1rem 0;
    width:40%;
}
.Price{
    background-color: var(--primary-black);
    color:var(--primary-white);
    width:100%;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    padding:2rem;
    box-shadow: 0 5px 15px #000;
}
.Price span:first-child{
    font-size: .85em;
}
.Price span:nth-child(2){
    opacity:.5;
    font-size: 2em;
}
.Price span:nth-child(3){
    font-weight: bolder;
    font-size: 1.5em;
}
.Price span:nth-child(4){
    opacity: .75;
    font-size: .85em;
}
.Product_link{
    display: flex;
    margin-top: 1rem;
    gap:1rem;
}
.Product_link img{
    width:2rem;
    border:solid 1px #fff;
    padding:.5rem;
}

.Timeline{
    display: flex;
    gap:2rem;
    color:#fff;
    border:solid 1px #000;
    width:100%;
    justify-content: center;
    padding:1rem;
    background-color: #000;
    box-shadow: 0 5px 15px #000;
}
.Time{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
    font-size: 1.25em;
}
.Time span:first-child{
    font-weight: bold;
}
.Time span:nth-child(2){
    opacity:.5;
}
.Products{
    padding:2rem 0;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.Product_head{
    display: flex;
    flex-direction: column;
    gap:.75rem;
    align-items: center;
}
.Product_head div{
    height:3px;
    width:5%;
    background-color: #333;
}

.Product_head span:first-child{
    font-size: 2em;
    font-weight: bolder;
}
.Product_head span:nth-child(2){
    font-family: 'Arimo';
    font-size: 1em;
    opacity:.75;
}
.Product_head img{
    width:10%;
}
.Slider{
    display: flex;
    width:90%;
    margin:0 auto;
    gap:1rem;
}
.Product_card{
    width:20%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    transition:all 350ms;
    cursor:pointer;
}

.Product_card:hover{
    scale:1.05;
    box-shadow: 0 0 5px #33333375;
}
.Product_pic{
    height:20rem;
}
.Product_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Product_name span{
    font-weight: bold;
}
.Product_name img{
    width:1.75rem;
    border:solid .25px #333;
    padding:.25rem;
    background-color: #333;
}
.Desc{
    opacity:.75;
    font-family: 'Arimo';
}
.Arrival{
    display: flex;
    justify-content: space-around;
    background-color: #ececec;
}
.Arrival1{
    display: flex;
    align-items: center;
    gap:1rem;
    width:45%;
}
.Arrival_details{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.Arrival_buttons{
    display: flex;
    gap:1rem;
}
.Arrival_pic{
    height: 100%;
    width:30vh;
}
.Arrival_buttons img{
    width:2rem;
    padding:.5rem;
    background-color: #333;
}
.Arrival_details span:first-child{
    padding:.5rem;
    font-size: .85em;
    background-color: #333;
    color:#fff;
}
.Arrival_details span:nth-child(2){
    font-size: 2em;
    color:#333;
}
.Arrival_details span:nth-child(3){
    font-weight: bolder;
    font-size: 1.5em;
    color:#333;
}
.Arrival_details span:nth-child(4){
    opacity:.75;
}

.Best_seller{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.Seller_buttons{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.Seller_buttons span:nth-child(2){
    background-color: #333;
    color:#fff;
    padding:.5rem;
}
.Best_seller{
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.Seller_buttons span{
    font-weight: bold;
    color:#333
}
.Model_containers{
    display: flex;
}
.Seller_card{
    width:20%;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    transition:all 350ms;
    cursor:pointer;
}
.Seller_card:hover{
    scale:1.05;
}
.Seller_card span:nth-child(3){
    font-weight: bold;
    
}
.Seller_card img{
    background-color: #FAFAFA;
    width:100%;
    height:100%;
}
.Clients {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    position: relative; 
    height: 50vh;
    background-color: #333; 
    z-index: 1; 
    color:#fff;
}

.Clients::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/Client.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    opacity: 0.25; 
    z-index: -1; 
}

.Clients img{
    width:15%;
    transition: all 350ms;
    overflow: hidden;
    /* border-radius: 100px 0; */
    /* border:solid 5px #fff; */
    border:solid 5px #00000050;
    scale:1.5
}

.Client_inner{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:60%;
    text-align: center;
}
.Client_inner span:first-child{
    font-size: 3em;
}
.Line{
    width:20%;
    margin: 0 auto;
    height:3px;
    background-color: #E8B200;
}
.Sale{
    margin-top:2rem;
    padding:2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.Sale_inner{
    display:flex;
    gap:1rem;
    width:30%;
    height:35vh;
    color:#333;
    transition:all 350ms;
    cursor:pointer;
}
.Sale_inner:hover{
    scale:1.1;

}
.Sale_inner span:first-child{
    background-color: #333;
    color:#fff;
    width:100%;
    padding:.5rem;
}
.Sale_inner span:nth-child(2){
    font-weight: bolder;
}
.Sale_prod{
    width: 50%;
    height: 100%;
}
.Sale_desc span:nth-child(3){
    font-size: .75em;
}
.Sale_button{
    display:flex;
    gap:1rem;
}

.Sale_button img{
    padding:.5rem;
    width:2rem;
    border:solid 1px #333;
}
.Sale_desc{
    display:flex;
    flex-direction:column;
    gap:.5rem;
    width:50%;
}
.Brands_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
    border-bottom: solid 1.5px #33333350;
    width:90%;
    margin:0 auto;
}

.Brands_container img{
    width:7.5%;
    height:100%;
}

.Blog_container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    width: 100%;
    padding:2rem 0;

}
.Blog_head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Blog_head div{
    height:3px;
    width:10%;
    background-color: #e8b200;
    }
.Blog_head span{
    font-size: 1.5em;
    color:#333;
    font-weight: bolder;
}
.Blog_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    
}
.Blog{
    width:20%;
    height:50vh;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    border:solid 2px #33333325;
    padding:1.25rem;
    cursor:pointer;
    transition: all 350ms;
}
.Blog img{
    height:50%;
}
.Blog:hover{
    scale:1.025;
}
.Blog span:nth-child(2){
    font-size: 1em;
    font-weight: bolder;
}
.Blog span:nth-child(3){
    font-size: .85em;
}
.Read{
    font-size: .85em;
    text-decoration:underline;
    color:#8f6e02;
}
footer{
    color:#fff;
}
.Footer1{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding:3.5rem;
}
.Footer2{
    background-color: #000;
    color:#fff;
    padding:.5rem 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.Cards{
    display: flex;
    gap:.5rem;
    width: 20% ;
}
.Cards img{
    height: 100%;
    width:15%;
}
.Contact{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:25%;
}
.Contact_inner{
    display: flex;
    gap:.5rem;
    font-size: .85em;
    align-items: center;
}
.Contact_inner img{
    width:2rem;
    padding:.5rem;
    border:solid 1px #fff;
}
.Information{
    display: flex;
    flex-direction:column;
    gap:2rem;
    width:20%;
}
.Information_inner{
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: .85em;
}
.Information_inner span{
    cursor:pointer;
    transition:all 350ms
}

.Information_inner span:hover{
    color:#E8B200;
}
.Instagram{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:30%;
}
.Instagram_inner{
    gap:.25rem;
    display:flex;
    flex-wrap: wrap;
}
.Instagram_inner img {
    width: 25%;
    height:50%;
    filter: grayscale(100%); 
    transition: all 350ms; 
    cursor:pointer;
}

.Instagram_inner img:hover {
    filter: grayscale(0%);
    scale:1.05;
}
.Email{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:25%;
}
.Email_input{
    display: flex;
    width:100%;
}
.Email_input input{
    background-color: #000;
    border:none;
    outline:none;
    color:#ffffff;
    height:2rem;
    padding:.5rem;
    width:100%;
}
.Email_inner{
    display:flex;
    flex-direction: column;
    gap:3rem;
}
.Email_input img{
    width:2rem;
    padding:.5rem;
    border-left: none;
    background-color:#494949;
    cursor:pointer;
    transition:all 350ms;
}
.Email_input img:hover{
    scale:1.05;
}

.Social{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.Social_inner{
    display: flex;
    gap:.5rem;
}

.Social_inner img{
    width:2rem;
    padding:.5rem;
    background-color: #494949;
    transition: all 350ms;
    cursor:pointer;
}
.Social_inner img:hover{
    scale:1.05;
    border:solid 1px #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333333;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

@media(max-width:431px){
    .Hero span:nth-child(2){
        font-size: 1.5em;
    }
    .Feat-container{
        flex-wrap: wrap;
    }
    .Feat{
        width:40%;
        padding:.5rem;
    }
    .Featured{
        flex-direction: column;
        gap:0;
    }
    .Featured_inner{
        width:100%;
    }
    .Model{
        width:40%;
        animation:none;
        scale:1;
        transform: translate(0);
    }
    .Slider{
        width:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Product_card{
        width:45%;
        padding:.5rem;
    }
    .Product_pic{
        height:15rem;
    }
    .Arrival{
        flex-direction: column;
        gap:1rem;
    }
    .Arrival1{
        justify-content: space-around;
        align-items: flex-end;
        width:100%;
    }
    .Arrival_pic{
        width:15vh;
        height:100%;
    }
    .Arrival1 span:nth-child(2){
        font-size: 1.5em;
    }
    .Seller_buttons span{
        font-size: .75em;
        font-weight: bold;
    }
    .Model_containers{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap:1rem;
    }
    .Seller_card{
        width:45%;
        height: 100%;
    }
    .Clients{
        flex-direction: column-reverse;
        height: fit-content;
    }
    .Clients img{
        width:40%;
    }
    .Client_inner{
        margin-top: 1rem;
        width:100%;
        padding:1rem;
    }
    .Client_inner span:nth-child(3){
        text-align: justify;
    }
    .Brands_container{
        flex-wrap: wrap;
        gap:1rem;
        align-items: center;
    }
    .Brands_container img{
        width:25%;
    }
    .Sale{
        flex-wrap: wrap;
        gap:.5rem;
        padding:.5rem;
        align-items: center;
        justify-content: center;
    }
    .Sale_inner{
        width:100%;
        gap:.5rem;
        justify-content: center;
    }
    .Blog_inner{
        flex-direction: column;
    }
    .Blog{
        width:100%;
    }
    .Footer1{
        flex-wrap: wrap;
        flex-direction: column;
        gap:1rem;
        padding:.5rem;
    }
    .Email, .Information,.Instagram, .Contact{
        width:100%;
        gap:1rem;
    }
    .Information{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .Instagram{
        justify-content: center;
        align-items: center;
    }
    .Instagram_inner{
        justify-content: center;
    }
    .Contact{
        
        justify-content: center;
    }
    .Email, .Email_inner{
        gap:1rem;
    }
    .Footer2 span{
        font-size: .5em;
    }
    .Upper_links,.Logo{
        display: none;
    }
    nav{
        display:none;
    }
    .Arrival_details span:nth-child(2){
        font-size: 1em;
    }
    .Arrival_details span:nth-child(3){
        font-size: 1em;
    }
    .Arrival_details span:nth-child(4){
        font-size: .75em;
    }

    .Seller_buttons span{
        text-align: center;
    }

}

@media (min-width: 600px) and (max-width: 1024px) {
    .Logo{
        display: none;
    }
    Nav{
        padding:.5rem;
    }
    .Slider{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Product_card{
        width:30%;
    }
    .Model_containers{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Seller_card{
        width:30%;
    }
    .Clients{
        flex-direction: column-reverse;
    }
    .Clients img{
        width:20%;
    }
    .Client_inner{
        padding:1rem;
        width:100%;
        margin-top: 2em;
    }
    .Client_inner span:nth-child(3){
        font-size: 1.25em;
        text-align: justify;
    }

    .Blog_container{
        padding:.75rem;
    }
    .Blog{
        width:30%;
    }
    .remove{
        display:none;
    }
    .Sale{
        flex-wrap: wrap;
        padding:0;
    }
    .Sale_inner{
        width:45%;
    }
    .Arrival{
        flex-direction: column;
    }
    .Arrival1{
        align-items:flex-start;
        width:100%;
    }
    .Model{
        width:30%;
    }
    .Sale_inner{
        padding:0;
    }
    .Sale_prod{
        width:50%;
        height:75%;
    }

}
